.blog_item{
  .ant-card-meta-title{
    font-weight: bold;
  }
  .ant-card-meta-description{
    color: #8d8d8d;
    font-weight: 600;
  }
  .ant-card-actions{
    border-top: none;
    li{
      text-align: left;
      margin-left: 20px;
      margin-bottom: 40px;
    }
  }
}