$color-red: #f1252b;
$color-yellow: #ffb219;
$color-black: #272727;
$color-white: #ffffff;
$color-green: #00a950;
$color-gray: #a0a0a0;

.ant-popover-inner{
  width: 350px;
  padding: 15px 10px 15px 10px;
}

.bg_slider_button {
  color: $color-white;
  font-weight: 500;
  padding: 8px 20px 8px 20px;
  border-radius: 25px;
  width: calc(50% - 4px);
}
.bg_slider2_button{
  background-color: $color-black;
}
.bg_slider3_button{
  background-color: $color-gray;
}
.bg_slider_button:hover {
  background-color: $color-red;
  color: $color-white;
}

.line_item{
  &::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
  }
}

.container-item-menu{
  .ant-btn{
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .ant-btn:hover, .ant-btn:focus{
    background: transparent;
  }
}


