$color-red: #f1252b;
$color-yellow: #ffb219;
$color-black: #272727;
$color-white: #ffffff;
$color-green: #00a950;
$color-gray: #a0a0a0;
$color-gray-200: #b7b4ad;
$color-gray-400: #8d8d8d;
$color-redred: #bb2d2f;
$color-blue: #285dcd;
$color-yellow-200: #f3efe6;

.bg-border-slider {
  transform: translateY(-40px);
}

.bg-border-slider-2 {
  transform: translateY(80px);
}

.bg-poster-time {
  text-align: center;
  background: url(../../assets/images/carousel/back-30.jpg) no-repeat center
    center;
  width: 100%;
  height: 570px;
  background-color: $color-yellow-200;
  // background-size: contain;
}

.time-hour {
  display: inline-block;
  clip-path: polygon(13% 0, 100% 0, 87% 100%, 0 100%);
  padding: 0 30px;
}
