.error-container{
  background-image: url(../../assets/images/others/error.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
  height: 100vh;
  position: relative;
}