.container-shop {
  .bg-shop {
    background-image: url(../../assets/images/others/shop-bg.jpg);
    background-position: top;
    position: relative;
    text-align: center;
    background-size: cover;
    width: 100%;
  }
  .contain-items {
    width: 1200px;
  }
}
