@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // height:100vh;
  // width:100vw;
  // overflow-x:hidden
}



$color-red: #f1252b;
$color-yellow: #ffb219;
$color-black: #272727;
$color-white: #ffffff;
$color-green: #00a950;